body {
    background-color: #f9f9f9;
    margin-bottom: 200px;
}

/* Header */
.navbar {
    background-color: #074788;
    height: 4em;
}
.navbar-collapse {
    justify-content: flex-start;
    padding-left: 1em;
}
.nav-link:hover {
    color: #fff;
}
.nav-link {
    color: #9eccfa;
    font-size: 1.2em;
    cursor: pointer;
}
.navbar-icons {
    justify-content: flex-end;
    padding-right: 1em;
}
.icon {
    height: 1.5em;
    padding-right: 0.7em;
}
.icon.hover:hover {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #074788;
}

/* Middle */
#middle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#middle h1 {
    padding: 1em;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#middle h2 {
    font-size: 2em;
    padding-bottom: 1em;
}
#middle p {
    font-size: 1.1em;
}

#picture {
    height: 25em;
    padding: 5em;
}

#middle-cv {
    padding: 1em;
}
#middle-cv h1 {
    font-size: 4em;
}
#middle-cv h2 {
    padding-top: 1em;
}

/* Footer */
#footer {
    background-color: #074788;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 11em;
    text-align: center;
    color: #9eccfa;
    padding-top: 1em;
    padding-bottom: 1em;
}
#footer h2 {
    padding-bottom: 0.2em;
    font-size: 1.5em;
}
#footer p {
    font-size: 1em;
}
